@import "tailwindcss";

:root {
  --color-dark: #151414;
  --color-white: #FAFAFA;
  --color-light-grey: #CDCDCD;
  --color-dark-grey: #555555;
  }
  
  *,
  *:after,
  *:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      scroll-behavior: auto;
  }
  
  div.root {
    min-height: 100vh;
  }
  /* ------------------------- Scaling System by Osmo [https://osmo.supply/] -------------------------  */
  /* Desktop */
  :root {
      --size-unit: 16; /* body font-size in design - no px */
      --size-container-ideal: 1440; /* screen-size in design - no px */
      --size-container-min: 992px;
      --size-container-max: 1920px;
      --size-container: clamp(var(--size-container-min), 100vw, var(--size-container-max));
      --size-font: calc(var(--size-container) / (var(--size-container-ideal) / var(--size-unit)));
  }
  /* Tablet */
  @media screen and (max-width: 991px) {
  :root {
      --size-container-ideal: 834; /* screen-size in design - no px */
      --size-container-min: 768px;
      --size-container-max: 991px;
  }
  }
  /* Mobile Landscape */
  @media screen and (max-width: 767px) {
  :root {
      --size-container-ideal: 390; /* screen-size in design - no px */
      --size-container-min: 480px;
      --size-container-max: 767px;
  }
  }
  /* Mobile Portrait */
  @media screen and (max-width: 479px) {
  :root {
      --size-container-ideal: 440; /* screen-size in design - no px */
      --size-container-min: 0px;
      --size-container-max: 479px;
  }
  }

  body {
      font-size: var(--size-font);
      line-height: 1;
      font-weight: 500;
      background-color: #ffffff; 
  }
  
  .gridCol {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
  }

  .maxWidth {
    max-width: 1650px;
    margin: 0 auto;
  }

  .apocBase {
    font-family: 'ApocNormal-RegularItalic', sans-serif;
    font-size: 1rem;
  }
  .chargement {
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 8rem;
    font-display: swap;
    font-variant-numeric: tabular-nums
  }
  .aboutTitle {
    font-family: 'ApocNormal-BoldItalic', sans-serif;
    font-size: 8rem;
  }
  .projet {
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 2.25rem;
  }
  .titleProjet {
    font-family: 'ApocRevelations-Bold', sans-serif;
    font-size: 8rem;
  }
  .descriptionProjet {
    font-family: 'ApocNormal-BoldItalic', sans-serif;
    font-size: 1.25rem;
  }
  .logoName {
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 1rem;
  }
  .roleName {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 0.875rem;
  }
  .titleDescriptionProjet {
    font-family: 'ApocNormal-BoldItalic', sans-serif;
    font-size: 1rem;
  }
  .subtitleDescriptionProjet {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 1rem;
  }
  .textDescriptionProjet {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 1.25rem;
  }
  .footerProjet {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 4rem;
    line-height: 4rem;
  }
  .footerSub {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 0.75rem;
  }
  
  p {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 1em;
      font-weight: 400;
      line-height: 1.4;
      font-weight: 500;
  }

  video {
    object-fit: cover; 
    width: 100%;
    height: auto;
    -webkit-transform: translateZ(0); 
    transform: translateZ(0); 
  }
  
  
  @media screen and (max-width: 767px) {
    .aboutTitle,
    .titleProjet {
          font-size: 4em;
      }
    .footerProjet {
      font-size: 3em;
    }

  }

  @font-face {
    font-family: 'ApocNormal-BoldItalic';
    src: url('/fonts/ApocNormal-BoldItalic.woff2') format('woff2'),
         url('/fonts/ApocNormal-BoldItalic.woff') format('woff'),
         url('/fonts/ApocNormal-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ApocNormal-RegularItalic';
    src: url('/fonts/ApocNormal-RegularItalic.woff2') format('woff2'),
         url('/fonts/ApocNormal-RegularItalic.woff') format('woff'),
         url('/fonts/ApocNormal-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ApocRevelations-Bold';
    src: url('/fonts/ApocRevelations-Bold.woff2') format('woff2'),
         url('/fonts/ApocRevelations-Bold.woff') format('woff'),
         url('/fonts/ApocRevelations-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi-Light';
    src: url('/fonts/Satoshi-Light.woff2') format('woff2'),
         url('/fonts/Satoshi-Light.woff') format('woff'),
         url('/fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('/fonts/Satoshi-LightItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-LightItalic.woff') format('woff'),
         url('/fonts/Satoshi-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('/fonts/Satoshi-Regular.woff') format('woff'),
         url('/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('/fonts/Satoshi-Italic.woff2') format('woff2'),
         url('/fonts/Satoshi-Italic.woff') format('woff'),
         url('/fonts/Satoshi-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('/fonts/Satoshi-Medium.woff') format('woff'),
         url('/fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('/fonts/Satoshi-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
         url('/fonts/Satoshi-Bold.woff') format('woff'),
         url('/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('/fonts/Satoshi-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('/fonts/Satoshi-Black.woff2') format('woff2'),
         url('/fonts/Satoshi-Black.woff') format('woff'),
         url('/fonts/Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-BlackItalic.woff') format('woff'),
         url('/fonts/Satoshi-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: italic;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 900.0;
  *
  * available axes:
  'wght' (range from 300.0 to 900.0
  */
  @font-face {
    font-family: 'Satoshi-Variable';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2'),
         url('/fonts/Satoshi-Variable.woff') format('woff'),
         url('/fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 900.0;
  *
  * available axes:
  'wght' (range from 300.0 to 900.0
  */
  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-VariableItalic.woff') format('woff'),
         url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
  }
  
  
  